# Python Assignment 23

### Answer 1

Checks if the number is symmetrical

In [1]:
def is_symmetrical(num: int) -> bool:
    '''Return True if the number is symmetrical if not then False.'''
    
    num = str(num)
    return num == num[::-1]

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(9939)

False

In [6]:
is_symmetrical(1112111)

True

### Answer 2

Product of Numbers

In [7]:
def multiply_nums(nums: str) -> int:
    '''Return the product of all number inside a string.'''
    
    prod = 1
    for num in nums.split(', '):
        prod *= int(num)
    return prod

In [8]:
multiply_nums('2, 3')

6

In [9]:
multiply_nums('1, 2, 3, 4')

24

In [10]:
multiply_nums('54, 75, 453, 0')

0

In [11]:
multiply_nums('10, -2')

-20

### Answer 3

Square all digits in the number.

In [12]:
def square_digits(number: int) -> int:
    '''Return a integer after square all digits in the number.'''

    return int(''.join([str(int(n) ** 2) for n in str(number)]))
    # above list comprehension is same as
    # number = str(number)
    # _ = ''
    # for n in number:
    #     s = int(n) ** 2
    #     _ += str(s)
    # return int(_)

In [13]:
square_digits(9119)

811181

In [14]:
square_digits(2483)

416649

In [15]:
square_digits(3212)

9414

### Answer 4

Remove duplicates and Sort

In [16]:
def setify(List: list) -> list:
    '''Return a list after removing all duplicates elements and sorting.'''
    
    return sorted(set(List))

In [17]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [18]:
setify([4, 4, 4, 4])

[4]

In [19]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [20]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

### Answer 5

Mean of all digits in number.

In [21]:
def mean(num: int) -> int:
    '''Return mean of all digits in the number.'''

    num = str(num)
    Sum = 0
    for n in num:
        Sum += int(n)
    return int(Sum / len(num))

In [22]:
mean(42)

3

In [23]:
mean(12345)

3

In [24]:
mean(666)

6