# Python Assignment 25

### Answer 1

* Pandas DataFrame : The data is stored inside rows and columns. Behind the scene dataframe store all the data inside a two dimensional numpy array. DataFrame can store any python object.
* Numpy Array : A numpy array also refered as `ndarray` is a multidimensional contains of items of same datatype and size. Numpy array can store any python object.

In [11]:
# converting numpy array into pandas DataFrame
import numpy as np
import pandas as pd

Array = np.array([[1, 34, 11], [2, 35, 12], [3, 36, 13]])
df = pd.DataFrame(Array)
df

   0   1   2
0  1  34  11
1  2  35  12
2  3  36  13

In [12]:
# converting DataFrame into numpy array
df.to_numpy()

array([[ 1, 34, 11],
       [ 2, 35, 12],
       [ 3, 36, 13]])

### Answer 2

There are several things that can go wrong when a user enters a stock ticker symbol:
1. Wrong Symbol : If user enter a wrong symbol for a company that does not exist. Then we have to check whether is the symbol is present in database to validate it.
2. Wrong Format: If user enter a symbol which whitespace, punctuation or special character then we have to format the symbol.

### Answer 3

Here is some plotting technique for producing a stock market charts.

In [1]:
import plotly.graph_objects as go
from calendar import month_name
import numpy as np
import pandas as pd

data = pd.read_csv('D:/microsoft_stock.csv', 
                    parse_dates = ['Date'], index_col = 0)
# data = pd.read_csv('https://github.com/ganeshss0/datasets/raw/main/finance/microsoft_stock.csv', 
#                     parse_dates = ['Date'], index_col = 0)

In [ ]:
# creating a candle stick graph for financial year 2021
data_2020 = data[data.Date.dt.year == 2020]

figure = go.Figure(data=[go.Candlestick(x=data_2020.Date,
                open=data_2020.Open,
                high=data_2020.High,
                low=data_2020.Low,
                close=data_2020.Close)])

figure.update_layout(title = "Microsoft Stock 2020", showlegend = True)

figure.show()

<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ganesh0/1.embed"></iframe>

In [ ]:
# getting data of year 2020
data_2020 = data[data.Date.dt.year == 2020]

# adding a month name column for respective month
data_2020['Month'] = data_2020.Date.dt.month.apply(lambda x: month_name[x])

# group the based on the month
data_2020_grouped = data_2020.groupby('Month', as_index=False, sort = False).Volume.mean()

data_2020_grouped['Measure'] = ['relative'] * 12
data_2020_grouped = data_2020_grouped.append({'Month': 'Total', 'Volume' : None, 'Measure' : 'total'}, 
                                                ignore_index = True)

In [ ]:
figure = go.Figure(go.Waterfall(orientation = "v", measure = data_2020_grouped.Measure,
    x = data_2020_grouped.Month, textposition = "outside", y = data_2020_grouped.Volume,
    connector = {"line":{"color":"rgb(63, 63, 63)"}} ))

figure.update_layout(title = "Microsoft Stock 2020", showlegend = True)

figure.show()

<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ganesh0/3.embed"></iframe>

### Answer 4

Legends on charts make them easy to understand, Legends increase the readibilty of charts. As in stock market it is not worthy to use the full name any entity, so we use tinker symbol, So it is always essential to include a legends in stock market charts when tinker symbols are used in charts.

### Answer 5

We can use `pd.DataFrame.loc` to specify a condition or we can use `pd.date_range` to generate all days of a year then apply a condition on dataframe, Here is a simple example:

In [2]:
# This dataframe contains entries from 2015 to 2021
data

                    Date    Open    High     Low   Close    Volume
0    2015-04-01 16:00:00   40.60   40.76   40.31   40.72  36865322
1    2015-04-02 16:00:00   40.66   40.74   40.12   40.29  37487476
2    2015-04-06 16:00:00   40.34   41.78   40.18   41.55  39223692
3    2015-04-07 16:00:00   41.61   41.91   41.31   41.53  28809375
4    2015-04-08 16:00:00   41.48   41.69   41.04   41.42  24753438
...                  ...     ...     ...     ...     ...       ...
1506 2021-03-25 16:00:00  235.30  236.94  231.57  232.34  34061853
1507 2021-03-26 16:00:00  231.55  236.71  231.55  236.48  25479853
1508 2021-03-29 16:00:00  236.59  236.80  231.88  235.24  25227455
1509 2021-03-30 16:00:00  233.53  233.85  231.10  231.85  24792012
1510 2021-03-31 16:00:00  232.91  239.10  232.39  235.77  43623471

[1511 rows x 6 columns]

First method

In [3]:
# so if we want to get data only for one specific year
data[data.Date.dt.year == 2021]

                    Date    Open    High     Low   Close    Volume
1450 2021-01-04 16:00:00  222.53  223.00  214.81  217.69  37130139
1451 2021-01-05 16:00:00  217.26  218.52  215.70  217.90  23822953
1452 2021-01-06 16:00:00  212.17  216.49  211.94  212.25  35930653
1453 2021-01-07 16:00:00  214.04  219.34  213.71  218.29  27694480
1454 2021-01-08 16:00:00  218.68  220.58  217.03  219.62  22956206
...                  ...     ...     ...     ...     ...       ...
1506 2021-03-25 16:00:00  235.30  236.94  231.57  232.34  34061853
1507 2021-03-26 16:00:00  231.55  236.71  231.55  236.48  25479853
1508 2021-03-29 16:00:00  236.59  236.80  231.88  235.24  25227455
1509 2021-03-30 16:00:00  233.53  233.85  231.10  231.85  24792012
1510 2021-03-31 16:00:00  232.91  239.10  232.39  235.77  43623471

[61 rows x 6 columns]

Second method

In [4]:
# using loc method
data.loc[(data.Date.dt.year < 2019) & (data.Date.dt.year > 2017)]

                   Date    Open    High     Low   Close    Volume
694 2018-01-02 16:00:00   86.13   86.31   85.50   85.95  22483797
695 2018-01-03 16:00:00   86.06   86.51   85.97   86.35  26061439
696 2018-01-04 16:00:00   86.59   87.66   86.57   87.11  21911974
697 2018-01-05 16:00:00   87.66   88.41   87.43   88.19  23407110
698 2018-01-08 16:00:00   88.20   88.58   87.60   88.28  22113049
..                  ...     ...     ...     ...     ...       ...
940 2018-12-24 13:00:00   97.68   97.97   93.98   94.13  43935192
941 2018-12-26 16:00:00   95.14  100.69   93.96  100.56  51634793
942 2018-12-27 16:00:00   99.30  101.19   96.40  101.18  49498509
943 2018-12-28 16:00:00  102.09  102.41   99.52  100.39  38169312
944 2018-12-31 16:00:00  101.29  102.40  100.44  101.57  33173765

[251 rows x 6 columns]

Third method

In [5]:
# using pd.date_range method
range_2021 = pd.date_range(end = '12/31/2021', periods = 365, freq = 'D')

data[data.Date.dt.date.isin(range_2021.date)]

                    Date    Open    High     Low   Close    Volume
1450 2021-01-04 16:00:00  222.53  223.00  214.81  217.69  37130139
1451 2021-01-05 16:00:00  217.26  218.52  215.70  217.90  23822953
1452 2021-01-06 16:00:00  212.17  216.49  211.94  212.25  35930653
1453 2021-01-07 16:00:00  214.04  219.34  213.71  218.29  27694480
1454 2021-01-08 16:00:00  218.68  220.58  217.03  219.62  22956206
...                  ...     ...     ...     ...     ...       ...
1506 2021-03-25 16:00:00  235.30  236.94  231.57  232.34  34061853
1507 2021-03-26 16:00:00  231.55  236.71  231.55  236.48  25479853
1508 2021-03-29 16:00:00  236.59  236.80  231.88  235.24  25227455
1509 2021-03-30 16:00:00  233.53  233.85  231.10  231.85  24792012
1510 2021-03-31 16:00:00  232.91  239.10  232.39  235.77  43623471

[61 rows x 6 columns]

### Answer 6

A 180-day moving average is a technical indicator that calculates the average price of a security over the past 180 days and plots it as a line on a chart. It is used to identify trends and smooth out short-term fluctuations in price.

### Answer 7

*Did the chapter's final example use "indirect" importing? If so, how exactly do you do it?* <br />__There is a lack of data in this question.__